<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<Bhargav_Accordion>
			   <!--
            this is the version number our module is currently at. in order
            for setup scripts to run, their version number must be less than 
            or equal to this value.
            
            as we add upgrade scripts, we increment this value. The next time
            your Magento instance is accessed, Magento will compare values in
            DB table 'core_resource' against this value. If the DB is lower, 
            it will attempt to run any setup scripts for the module and then 
            update the database table to match this value.
        -->
        <version>0.0.1</version>
    </Bhargav_Accordion>
</modules>
<global>
		  <!-- 
        add an adminhtml block definition 
    -->
    <blocks>
    	<bhargav_accordion_adminhtml>
    		<class>Bhargav_Accordion_Block_Adminhtml</class>
    	</bhargav_accordion_adminhtml>
    </blocks>
		 <!-- 
        add a helper definition for use in adminhtml.xml menu translation 
    -->
    <helpers>
    	<bhargav_accordion>
    		<class>
    			Bhargav_Accordion_Helper
    		</class>
    	</bhargav_accordion>
    </helpers>
    <models>

            <!-- 
            this is the Model alias referred to in install-0.0.1.php 
        -->
        <bhargav_accordion>
				 <!-- 
                this tells Magento where to find Models for this module 
            -->
            <class>Bhargav_Accordion_Model</class>
            <resourceModel>bhargav_accordion_resource</resourceModel>
        </bhargav_accordion>

            <!-- 
            this alias must match the above <resourceModel/> value 
        -->
        <bhargav_accordion_resource>
        	<class>Bhargav_Accordion_Model_Resource</class>
        	<entities>
        		<accordion>
        			<table>bhargav_accordion_accordion</table>
        		</accordion>
        	</entities>
        </bhargav_accordion_resource>
    </models>
    <resources>
    	<bhargav_accordion_setup>
    		<setup>
    			<module>Bhargav_Accordion</module>
    			<class>Mage_Core_Model_Resource_Setup</class>
    		</setup>
    		<connection>
    			<use>core_setup</use>
    		</connection>

    	</bhargav_accordion_setup>
    </resources>
</global>
<admin>
	<routers>
		<bhargav_accordion_admin>
			<use>admin</use>
			<args>
				<module>Bhargav_Accordion_Adminhtml</module>
				<frontName>accordion-admin</frontName>
			</args>
		</bhargav_accordion_admin>
	</routers>
</admin>

</config>