<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<Bhargav_Accordion>
			<version>0.0.1</version>
		</Bhargav_Accordion>
	</modules>
	<global>
		<blocks>
			<bhargav_accordion_adminhtml>
				<class>Bhargav_Accordion_Block_Adminhtml</class>
			</bhargav_accordion_adminhtml>
		</blocks>
		<helpers>
			<bhargav_accordion>
				<class>
					Bhargav_Accordion_Helper
				</class>
			</bhargav_accordion>
		</helpers>
		<models>
			<bhargav_accordion>
			<class>Bhargav_Accordion_Model</class>
			<resourceModel>bhargav_accordion_resource</resourceModel>
		</bhargav_accordion>
			<bhargav_accordion_resource>
				<class>Bhargav_Accordion_Model_Rersource</class>
				<entities>
					<accordion>
						<table>bhargav_accordion_accordion</table>
					</accordion>
			</entities>
			</bhargav_accordion_resource>
		</models>
		<resources>
			<bhargav_accordion_setup>
				<setup>
					<module>Bhargav_Accordion</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>

			</bhargav_accordion_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<bhargav_accordion_admin>
				<use>admin</use>
				<args>
					<module>Bhargav_Accordion_Adminhtml</module>
					<frontname>accordion-admin</frontname>
				</args>
			</bhargav_accordion_admin>
		</routers>
	</admin>

</config>